# Virtual environments
.venv
uv.lock

# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# # No USD files allowed in the repo
**/*.usd
**/*.usda
**/*.usdc
**/*.usdz
# Object USD file
**/model/__init__.py 

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb
wheels/
dist/
*.py[oc]

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games and Training
runs/
recordings/
**/logs/*
logs/

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Recorded camera images
record_depth/

